# Ignore anything in the root other than these directories. Other directories are expected to be data directories
/*/
!/server
!/ui
!/probe
!/rust-probe

**/*.tsbuildinfo
**/node_modules/
**/logs/
**/lib/
**/build/
**/build.tar.gz
